<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BackUpMyFile.Option" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BackUpMyFile.Options" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BackUpMyFile.Option>
            <setting name="StartWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>10</value>
            </setting>
        </BackUpMyFile.Option>
        <BackUpMyFile.Options>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
        </BackUpMyFile.Options>
    </userSettings>
</configuration>